<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title></title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    <header style="box-shadow: 0 7px 20px 0 rgb(0,0,0,0.1);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div style="width: 100%;height: 100px;display: flex;justify-content: flex-start;align-items: center;">
                        <img src="https://via.placeholder.com/80" alt="">
                        <div style="display: flex;flex-direction: column;margin-left: 15px;">
                            <h6 class="mt-0 mb-0">KEMENTERIAN PEKERJAAN UMUM DAN PERUMAHAN RAKYAT</h6>
                            <h6 class="mt-0 mb-0">DIREKTORAT JENDERAL BINA KONSTRUKSI</h6>
                            <h5 class="mt-0 mb-0"><strong>BALAI JASA KONSTRUKSI WILAYAH III JAKARTA</strong></h5>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div style="width: 100%;height: 100px;display: flex;justify-content: space-around;align-items: center;">
                        <a href="/" style="color: #333;">BERANDA</a>
                        <a href="/" style="color: #333;">PELATIHAN</a>
                        <a href="/" style="color: #333;">SERTIFIKASI</a>
                        <a href="/" style="color: #333;">KONTAK KAMI</a>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              DAFTAR / LOGIN
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/mitra/daftar">MITRA</a>
                              <a class="dropdown-item" href="/peserta/dashboard">PESERTA UMUM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

    <section style="padding: 60px 0;">
        <div class="container">
            

            <div class="row">
                <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                    <div style="width: 100%;padding: 30px;border-radius: 6px;box-shadow: 0 7px 20px 0 rgb(0,0,0,0.1);">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <h3><strong>DAFTAR MITRA</strong></h3>
                                <hr>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <form>
                                    <div class="form-group row">
                                      <label class="col-sm-2 col-form-label">Nama</label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Alamat</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">No. Telepon</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                      <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Daftar</button>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer style="background-color: #003171;padding: 15px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                <h6 class="m-t-0 m-b-0 text-center" style="color: #fff;">Copyright © 2021 Direktorat Jenderal Bina Konstruksi</h6>
                </div>
            </div>
        </div>
    </footer>

    
    <!-- Button trigger modal -->
    
  
  <!-- Modal -->
    <div class="modal fade" id="pelatihan" tabindex="-1" aria-labelledby="pelatihanLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="pelatihanLabel">JADWAL PELATIHAN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Pelatihan</th>
                                    <th>Tanggal Pelaksanaan</th>
                                    <th>Lokasi</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Pelatihan A</td>
                                    <td>06 April 2021 s/d 09 April 2021</td>
                                    <td>Lokasi A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="sertifikasi" tabindex="-1" aria-labelledby="sertifikasiLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="sertifikasiLabel">JADWAL SERTIFIKASI</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Pelatihan</th>
                                    <th>Tanggal Pelaksanaan</th>
                                    <th>Lokasi</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Pelatihan A</td>
                                    <td>06 April 2021 s/d 09 April 2021</td>
                                    <td>Lokasi A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        </div>
    </div>
    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      
    </script>
</body>
</html>