<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title></title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    <header style="width:100%;box-shadow: 0 7px 20px 0 rgb(0 0 0 / 10%);">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div style="display:flex;height:70px;align-items: center;background-color: palegoldenrod;">
                        <h4 style="margin:0;padding:0;"><strong>KLINIK PKP - RTLH</strong></h4>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div style="display:flex;height:70px;align-items: center;justify-content: flex-end;background-color: yellow;">
                        <img src="/images/template/profile.png" alt="" style="height: 50px;">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div style="width: 100%;height: 100px;background-color: red;"></div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div style="width: 100%;height: 100px;background-color: red;"></div>

                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div style="width: 100%;height: 100px;background-color: red;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Button trigger modal -->
    
  
  <!-- Modal -->
    <div class="modal fade" id="pelatihan" tabindex="-1" aria-labelledby="pelatihanLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="pelatihanLabel">JADWAL PELATIHAN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Pelatihan</th>
                                    <th>Tanggal Pelaksanaan</th>
                                    <th>Lokasi</th>
                                    <th>Option</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Pelatihan A</td>
                                    <td>06 April 2021 s/d 09 April 2021</td>
                                    <td>Lokasi A</td>
                                    <td><center><button class="btn btn-primary">Gabung</button></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="sertifikasi" tabindex="-1" aria-labelledby="sertifikasiLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="sertifikasiLabel">JADWAL SERTIFIKASI</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Pelatihan</th>
                                    <th>Tanggal Pelaksanaan</th>
                                    <th>Lokasi</th>
                                    <th>Option</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Pelatihan A</td>
                                    <td>06 April 2021 s/d 09 April 2021</td>
                                    <td>Lokasi A</td>
                                    <td><center><button class="btn btn-primary">Gabung</button></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        </div>
    </div>
    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      
    </script>
</body>
</html>